#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.list-row {
    font-weight: bold;
}

.correct {
    background-color: red;
}

.present {
    background-color: lightyellow;
    border-radius: 50%;
    color: black;
}

.played {
    background-color: cornflowerblue;
    transition: background-color 100ms linear;
    animation: bounce-pop 0.8s ease;
}

@keyframes bounce-pop {
    0% {
        transform: scale(1) translateY(0);
    }
    25% {
        transform: scale(1.1) translateY(-10px);
    }
    50% {
        transform: scale(0.95) translateY(5px);
    }
    75% {
        transform: scale(1.02) translateY(-4px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}